/target/
.classpath
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.project
/Cache/settings.dat
/bin/
*.txt
*.iml
*.xml
*.class
*.png
.gradle
.idea
build
data/saves/characters/
